      /* Color verde personalizado */
      .btn-green {
          background-color: #CAD021;
          /* Verde */
          color: white;
          /* Texto blanco */
          border: 2px solid white;
          /* Borde blanco para contraste */
      }

      .btn-green:hover {
          background-color: #B0D15B;
          /* Cambio de color al pasar el mouse */
      }

      /* Fondo con imagen en blanco y negro */
      body {
          background-image: url('../img/portada_inicio.jpg');
          /* Imagen de fondo */
          background-size: cover;
          /* Cubrir todo el fondo */
          background-position: center;
          /* Centrar la imagen */
          background-attachment: fixed;
          /* Escala de grises */
          color: white;
          /* Texto blanco */
      }

      .body-overlay {
          position: absolute;
          /* Superposición sobre el fondo */
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(73, 72, 72, 0.534);
          /* Superposición negra con opacidad */
          z-index: 0;
          /* Asegura que esté detrás del contenido */
      }

      /* Estilo para el formulario con fondo negro y bordes redondeados */
      .login-form {
          background-color: rgba(0, 0, 0, 0.8);
          /* Fondo negro con transparencia */
          padding: 20px;
          /* Espacio interno */
          border-radius: 10px;
          /* Bordes redondeados */
          color: white;
          /* Texto blanco */
      }

      .login-form .form-control {
          background-color: white;
          /* Fondo blanco para inputs */
          border-color: #CAD021;
          /* Borde verde */
      }

      .login-form .form-label {
          color: white;
          /* Texto blanco */
      }